<turbo-stream action="append" target="flash-messages">
  <template>
    <div data-controller="flash"
         data-flash-message-value="作业提交成功! 本节课已标记为完成。"
         data-flash-type-value="success"
         data-flash-position-value="top-center"
         data-flash-duration-value="3000"></div>
  </template>
</turbo-stream>

<turbo-stream action="append" target="flash-messages">
  <template>
    <script>
      // 刷新页面以显示已提交状态
      setTimeout(() => {
        window.location.reload();
      }, 500);
    </script>
  </template>
</turbo-stream>
